---
const Links = [
  {
    name: "List",
    url: "/"
  },
  {
    name: "Pages",
    url: "/pokemons/1"
  },
  {
    name: "Favorites",
    url: "/favorites"
  }
]

const currentPath = Astro.url.pathname
---

<nav class="shadow bg-slate-900">
  <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
    {
      Links.map(({ name, url }) => (
        <div>
          <a href={url} class="text-gray-200 font-semibold mx-1.5 sm:mx-6 text-lg hover:text-blue-300">
            {name}
          </a>
          {
            currentPath === url 
              ? <div transition:name='menu-line' class='border-b-4 border-blue-500 mx-4'></div> 
              : <div class='mx-4 border-b-4 border-transparent'></div>
          }
        </div>
      ))
    }
  </div>
</nav>
