---
import MainLayout from "../layouts/MainLayout.astro";

import type { PokemonListResponse } from "../interfaces/pokemon-list.response"

const title = "Pokemon Static | Home"
const res = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151')
const data = await res.json() as PokemonListResponse
---

<MainLayout title={title}>
	<h1 class='text-3xl text-blue-500'>Astro</h1>
	<hr />
	<ul class='mt-2'>
		{data.results.map(({name}) => <li class='text-white'>{name}</li>)}
	</ul>
</MainLayout>

