---
import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemon/PokemonCard.astro";
import Title from "@shared/Title.astro";

import type { PokemonListResponse } from "../interfaces/pokemon-list.response"

const res = await fetch('https://pokeapi.co/api/v2/pokemon')
const data = await res.json() as PokemonListResponse

const title = "Pokemon Static | Home"
---

<MainLayout title={title}>
	<Title>
		List of pokemons
	</Title>
	<section 
		area-label='"Pokemon List'
		class='grid max-sm:grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-5 gap-4 mt-3'
	>
	
		{data.results.map(({name, url}) => <PokemonCard name={name} url={url}/>)}
	</section>
	
</MainLayout>

