---
import { FavoritePokemons } from "@components/pokemon/FavoritePokemons";
import MainLayout from "@layouts/MainLayout.astro";
import Title from "@shared/Title.astro";

---

<MainLayout title="Favorites">

  <Title>
    Favorites
	</Title>

  <FavoritePokemons client:only='solid-js' />


</MainLayout>